/* CSS Document */

.minical {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size:9px;
	 align:center;
	 padding: 1px;
	 margin: 1px;
	 float:left;
	 position:relative;
	 left:21px;
	 top:4px;
	 cursor:default;
}

.calfinsem {
	background-color:#2e366b;
	color:#CCC;
	padding:2px;
	text-align:center;
}

.caldias {
	background-color:#666;
	color:#CCC;
	padding:2px;
	text-align:center;
}
.caldiasem {
	background-color:#FFF;
	color:#333;
	padding:2px;
	text-align:center;
}

.calvacac {
	background-color:#EEE;
	color:#2e366b;
	padding:2px;
	text-align:center;
}

.calferiado {
	background-color:#F33;
	color:#DDD;
	font-weight:bold;
	text-align:center;
	padding:2px;
}

.calferiadono {
	background-color:#FFC;
	color:#F55;
	padding:2px;
	text-align:center;
}

.calexamen {
	background-color:#FC6;
	color:#93C;
	padding:2px;
	text-align:center;
	font-weight:bold;
}

.calotro {
	background-color:#FFC;
	color:#606;
	padding:2px;
	text-align:center;
}

.calevento {
	background-color:#FFC;
	color:#0F3;
	padding:2px;
	text-align:center;
}

.calhoy {
	background-color:#FFC;
	color:#000;
	padding:1px;
	border:1px solid #2e366b;
	font-weight:bold;
	text-align:center;
}
