@import url("reset.css");
@import url("fonts.css");
@import url("menu.css");
@import url("izquierda.css");
@import url("derecha.css");
@import url("diagrama.css");
@import url("notas.css");
@import url("video.css");

#contenido p {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#060606;
	line-height:24px;
	margin-bottom:3px;
}

#dispprograma {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#060606;
	line-height:19px;
	margin-bottom:3px;
}

#contenido label {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#060606;
	line-height:19px;
	margin-bottom:3px;
}

#contenido h1 {
	/*font-family: zapfhumnst_bt, Verdana, Arial, Helvetica, sans-serif;*/
	font-family: OpenSans, Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	color:#2e366b;
	background-color:none;
	padding:4px;
	font-weight:normal;
	margin-bottom:20px;
	margin-top:12px;
        border-bottom: 1px;
        border-bottom-style:solid;
        border-bottom-color:#CCC;
        
}

#contenido h2 {
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#2e366b;
	font-weight:bold;
	margin-bottom:8px;
	margin-top:12px;
}

#contenido h3 {
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#2e366b;
	font-weight:bold;
	margin-bottom:8px;
	margin-top:12px;
}

#contenido h4 {
	font-family: OpenSans, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#2e366b;
	font-weight:bold;
	margin-bottom:8px;
	margin-top:12px;
}

#contenido table {
	border-collapse:collapse;
	border: 1px solid #CCC;
	margin-top: 12px;
	margin-bottom:6px;
}

#contenido th {
	background-color:#346F85; /* lo puse un poco más oscuro. Claudio */
	color:#FFF;
	padding: 3px;
}

#contenido td {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	background-color:#FFF;
	border: 1px solid #CCC;
	color:#333;
	padding: 3px;
	line-height:16px;
}

#contenido td ul {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	margin:0;
	line-height:13px !important;
	padding:0;
}

#contenido td li {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	margin:0;
	line-height:15px !important;
	padding:0;
}


#contenido a {
	color:#2e366b;
	text-decoration:underline;
	font-weight:bold;
}

#contenido a:hover {
	color:#2e366b;
	background-color:#EfEfEf;
	text-decoration:none;
}

#contenido ul {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	list-style:outside disc;
	margin-top:4px;
	margin-left:16px;
	margin-bottom:4px;
}

#contenido ul li {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	margin-bottom:2px;
	margin-left:24px;
}

#contenido ol {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	list-style:decimal outside;
	margin-top:4px;
	margin-left:16px;
	margin-bottom:4px;
}

#contenido ol li {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	margin-bottom:2px;
	margin-left:24px;
}

.error {
	font-size:18px !important;
	font-weight:bold;
	color: #C00 !important ;
	line-height:50px !important;
	border-bottom: 4px solid #C90;
	border-top: 4px solid #C90;
	background-image:url(img/atencion.png);
	background-repeat:no-repeat;
	background-position:4px;
	padding-left: 50px;
}

.fueradefecha {
	font-size:18px !important;
	font-weight:bold;
	color: #C00 !important ;
	line-height:50px !important;
	border-bottom: 4px solid #C90;
	border-top: 4px solid #C90;
	background-image:url(img/cal.png);
	background-repeat:no-repeat;
	background-position:4px;
	padding-left: 50px;
}
.flotizq {
	border:none;
	float:left;
	margin-right:8px;
}

.ini1 {
	float:left;
	width:207px;
	height:232px;
	background-color:#FFF;
	border-top: none;
	border-bottom: 1px solid #2e366b;
	margin-right:16px;
	margin-bottom:12px;
	overflow:hidden;
	position:relative;
}


.ini1 h1 {
	font-family: OpenSans, optima, Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px !important;
	line-height:18px !important;
	font-weight:bold;
    color:#BE3F1E !important;
	height:36px !important;
	background-color:#DDD !important;
	padding-left:6px;
	padding-top:4px;
	padding-bottom:3px;	
	margin-top:0 !important;
	margin-bottom:2px !important;
}
.ini1 h1 a {
	color:#BE3F1E !important;
	text-decoration:none !important;
	background-color:#DDD !important;
}

.ini1 h1 a:hover {
	background-color:#DDD !important;
	text-decoration:underline !important;
}

.ini1 p {
	padding-left:6px;
	padding-bottom:4px;
	float:left;
	margin-top:0 !important;
	padding-right:4px !important;
}

.ini1 img {
	
	float:right;
	height:auto;
	padding-right:0;
	margin-left:0;
	vertical-align:bottom;
}



.ini2 {
	float:left;
	width:207px;
	height:232px;
	background-color:#FFF;
	border-top: none;
	border-bottom: 1px solid #2e366b;
	margin-right:16px;
	margin-bottom:12px;
	overflow:hidden;
	position:relative;
}

.ini2 h1 {
	font-family: OpenSans, optima, Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px !important;
	font-weight:bold !important;
    line-height:18px !important;
	color:#2e366b !important;
	background-color:#FFF !important;
	height:36px !important;
	padding-left:6px;
	padding-top:4px;
	padding-bottom:3px;	
	margin-top:0 !important;
	margin-bottom: 2px !important;
}

.ini2 h1 a {
	color:#2e366b !important;
	text-decoration:none !important;
}

.ini2 h1 a:hover {
	background-color:#FFF !important;
	text-decoration:underline !important;
}

.ini2 p {
	padding-left:6px;
	padding-bottom:4px;
	padding-right:4px !important;
	float:left;
}

.ini2 img {
	
	float:right;
	height:auto;
	padding-right:0;
	margin-left:0;
	vertical-align:bottom !important;
	position:relative;
	z-index:2;
}

#contenido .fotonota {
	float:right;
	width:120px;
}

#contenido .leer {
	float:right;
	font-size:10px;
	font-style:italic;
	padding:2px;
	position:absolute;
	top:218px;
	right:0px;
	z-index:10;
}

#contenido a.leer {
	background-color:#2e366b !important;
	color:#FFF !important;
        text-decoration:none;
}

#contenido a.leer :hover {
	background-color:#2e366b !important;
	color:#FFF !important;
}

#contenido .cita {
	font-style:italic;
	margin-left:36px;
	border-left:#999 2px solid;
	padding-left:12px;
	margin-top:6px;
	margin-bottom:6px;
}

#contenido .persiana {
	margin-left:36px;
	border-left:#999 2px solid;
	padding-left:12px;
	margin-top:6px;
	margin-bottom:6px;
	display:none;
}

#contenido .recuadro {
	width:600px;
	margin-top:12px;
	margin-bottom:9px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
	padding-right:12px;
	border:#2e366b thick solid;

}

#contenido .tablasin {
	border-collapse:collapse;
	border: none;
	margin-top: 12px;
	margin-bottom:6px;
}

#contenido .thsin {
	background-color:#600;
	border: none;
	color:#FFF;
	padding: 3px;
}

#contenido .tdsin {
	font-family:OpenSans, Verdana, Geneva, sans-serif;
	background-color:#FFF;
	border: none;
	color:#333;
	padding: 3px;
	line-height:16px;
	text-align:center;
}

#vervideo {
	font-family: OpenSans, Arial, Helvetica, sans-serif; font-size: 12px;
	font-weight: bold; 
	color: #CCCCCC; 
	background-color: #000000; 
	margin-top: 0px; margin-right: 0px; 
	margin-bottom: 0px; margin-left: 0px
	}
	
#vervideo p {
	font-family: OpenSans, Arial, Helvetica, sans-serif; 
	font-size: 12px; font-weight: bold; 
}

.galeria {
	width:650px;
	height:40px;
	background:url(img/bk_galeria.jpg) no-repeat ;
	margin-bottom:32px;
	padding:1px;
}

.galtit {
	font-family: OpenSans, optima, Verdana, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	background:none !important;
	margin-top:0px;
	margin-left:10px;
	float:left;
	width:204px;
	height:32px;
	vertical-align:middle !important;
	padding-top:10px;
}

.galtit a {
	font-family: OpenSans, optima, Verdana, Geneva, sans-serif;
	color:#FFFFFF !important;
	background:none !important;
}

.galtit a:hover {
	color:#FFFFFF !important;
	background:none !important;
	text-decoration:underline !important;
}

.galimg {
	margin-top:1px;
	width:63px;
	height:35px;
	float:left;
}
.galdesc {
	font-family:OpenSans, Arial, Helvetica, sans-serif;
	color:black;
	line-height:12px;
	font-size:12px;
	float:left;
	width:340px;
	height:40px;
	margin-left:16px;
	vertical-align:middle !important;
}

input {
	font-family:OpenSans, Arial, Helvetica, sans-serif;
}

select {
	font-family:OpenSans, Arial, Helvetica, sans-serif;
}

#contenido .fechamsg {
        font-style:italic;
        margin-bottom:6px;
	font-size:11px;
}

.prospectiva {
	font-family:hurtmold_regular;
	color:#920010;
	font-size:16px;
}

#contenido .bajada {
    font-style:italic;
    margin-bottom:6px;
	font-size:12px;
	font-weight:bold;
	color:#666666;
}
